{% extends 'layout/base.twig' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/assets/home.css">
{% endblock %}


{% block content %}

  </br>

<main>
    <section class="banner">
  
    <div class="is-size-1">

    <div class="highlight">
      <div class="columns is-marginless">
        <a class="column highlight-item" style="background-image: url({{highlight.url }});">
          <div class="has-text-white">
              <div class="has-text-weight-light">
                 <div class="has-text-weight-bold">
            <br>
           <h1>{{ highlight.title }}</h1>
           <br>
            <br>
          </div>
        </div>
          </div>
        </a>
      </div>
          
      </div>
    </div>
   </div>

 <div class="thumbnail">
    <div class="has-text-white">
      <div class="is-size-5">
        <div class="columns is-paddingless">
          {% for item in thumbnail %}
         <a href="#" class="column thumbnail-item is-paddingless" style="background-image: url({{ item.url }});">
          {{ item.title }}
         </a>
         {% endfor %}
        </div>
      </div>
    </div>
  </div>


   </section>

<section class="section we-present">
     <div class="container">
      <div class="columns">
        <div class="column has-text-left">
          <a href="#">LASTET</a>
        </div>
        <div class="column has-text-centered">
          WE PRESENT
        </div>
        <div class="column has-text-right">
          <a href="#">SEARCH</a>
        </div>
      </div>

      <div class="columns is-multiline">
        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="assets/images/home/we-preset/img-4.jpg" alt="images-4">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public
            </h5>
              <h3 class="titel is-spaced is-4">
              BANGKOK
            </h3>
              <h4 class="subtitle is-6">
              Silverlight
            </h4>
              <p>
                Makawan Saengngoen
              </p>
            </div>
          </div>
        </a>
<a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="assets/images/home/we-preset/img-2.jpg" alt="images-2">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public
            </h5>
              <h3 class="titel is-spaced is-4">
              GREENTEA
            </h3>
              <h4 class="subtitle is-6">
              Silverlight
            </h4>
              <p>
                Makawan Saengngoen
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="assets/images/home/we-preset/img-3.jpg" alt="images-3">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public
            </h5>
              <h3 class="titel is-spaced is-4">
              MY HOME
            </h3>
              <h4 class="subtitle is-6">
              Silverlight
            </h4>
              <p>
                Makawan Saengngoen
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="assets/images/home/we-preset/img-1.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public
            </h5>
              <h3 class="titel is-spaced is-4">
              ART TATTOO
            </h3>
              <h4 class="subtitle is-6">
              Silverlight
            </h4>
              <p>
                Makawan Saengngoen
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="assets/images/home/we-preset/img-5.jpg" alt="images-5">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public
            </h5>
              <h3 class="titel is-spaced is-4">
              TENCHO
            </h3>
              <h4 class="subtitle is-6">
              Silverlight
            </h4>
              <p>
                Makawan Saengngoen
              </p>
            </div>
          </div>
        </a>
        <a href="#" class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by2">
                <img src="assets/images/home/we-preset/img-6.jpg" alt="images-6">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Public
            </h5>
              <h3 class="titel is-spaced is-4">
              SPORT MAN
            </h3>
              <h4 class="subtitle is-6">
              Silverlight
            </h4>
              <p>
                Makawan Saengngoen
              </p>
            </div>
          </div>
        </a>



     </div>
   </section>
  </main>



<footer class="footer">
    <div class="content has-text-centered">
<br>
        <strong>WEBSITE</strong> by <a href="https://www.facebook.com/superatom.suthi">Makawan Saengngoen</a>. Workshop website classroom
        <a href="https://www.facebook.com/superatom.suthi">MIT</a>. Date 6.10.2017
         <a href="https://www.facebook.com/superatom.suthi">WebDevolope</a>.
</br>
    </div>
  </div>
</footer>
{% endblock %}